{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="container text-center">
        <div class="row align-items-center justify-content-center no-gutters" style="min-height: calc(100vh - 49px)">
            <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
                <h1 class="h3 my-3 font-weight-weight">Sign In</h1>
                <p class="mb-3 text-center text-muted">Simplify your workflow in minutes.</p>
                <form class="form-signin text-left" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.username.label(class_='mb-0') }}
                    {{ form.username(size=32, class_='form-control') }}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    {{ form.password.label(class_='mb-0') }}
                    {{ form.password(size=32, class_='form-control') }}
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    <div class="my-3">
                        {{ form.remember_me() }} {{ form.remember_me.label(class_='my-0') }}
                    </div>
                    {{ form.submit( class_='btn btn-lg btn-primary btn-block' ) }}
                </form>
                <div class="my-3">
                    <span>Don't have an account yet <a href="{{ url_for('register') }}">Sign up</a>.</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
